= link_to group_messages_path(group) do
  .sidebar__groups-list__group
    .sidebar__groups-list__group-name
      = group.name
    .sidebar__groups-list__group-message
      - if group.messages.last.try(:content).present?
        = group.messages.last.content
      - elsif group.messages.last.try(:image).present?
        画像が投稿されています
      - else
        まだメッセージはありません
