= link_to group_messages_path(group) do
  .sidebar__groups-list__group
    .sidebar__groups-list__group-name
      = group.name
    .sidebar__groups-list__group-message
      = Group.last_message_show(group)
